<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angeloraso.plugins.callinprogressfloatingwidget">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <service
            android:name=".FloatingViewService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.FLOATING_VIEW_SERVICE" />
            </intent-filter>
        </service>

    </application>
</manifest>
